<form action="/site/save" class="lato-font" method="post">
  <div class="row">

    <div class="col form-group">
      <label>Nom du site</label>
      <input class="form-control" type="text" name="nom" />
    </div>

    <div class="col form-group">
        <label> Ville </label>
        <input class="form-control" type="text" name="ville" />
      </div>
  </div>

  <div class="form-group">
      <label> Addresse du site </label>
      <input class="form-control" type="text" name="adresse" />
    </div>

  <div class="form-group">
      <label> Numéro de téléphone </label>
      <input class="form-control" type="text" name="numero_client" />
    </div>

    <div class="form-group">
        <label> Bassin </label>
       
      </div>
  
  <input class="btn btn-success" type="submit" value="Validé" />

</form>