<form action="/bassin/save" class="lato-font" method="post">
  <div class="row">

    <div class="col form-group">
      <label>Nom du bassin</label>
      <input class="form-control" type="text" name="nom" />
    </div>

    <div class="col form-group">
        <label> Taille du bassin </label>
        <input class="form-control" type="text" name="taille" />
      </div>
  </div>
  <div class="form-group" id="selectSite1">

  </div>


  <input class="btn btn-success" type="submit" value="Validé" />

</form>